/*This file is intended for full width positioning 
even when the browser window is scaled.*/

.b100{
    width:100%;
    position:absolute;
    z-index:-1;
}

#b100-home-blue{
    background-color:#3e84da;
    height:1800px;
    top:870px;
}

#b100-home-gray{
    background-color:#ece6d8;
    height:800px;
    top:2570px;
}

#b100-contact-blue{
    background-color:#3e84da;
    height:900px;
    top:220px;
}

#b100-contact-gray{
    background-color:#ece6d8;
    height:600px;
    top:2580px;
}

#b100-contact-blue{
    background-color:#3e84da;
    height:600px;
    top:1980px;
}

#b100-contact-blue2{
    background-color:#3e84da;
    height:930px;
    top:200px;
}

#b100-work-gray{
    background-color:#ece6d8;
    height:420px;
    top:2720px;
}

#b100-work-blue{
    background-color:#3e84da;
    height:2120px;
    top:600px;
}

/*Небольшие ноутбуки ----------- */
@media only screen  and (max-width: 1600px){/*работает от 1200px по ширине*/
    #b100-home-blue{
        background-color:#3e84da;
        height:1550px;
        top:750px;
    }
    
    #b100-home-gray{
        background-color:#ece6d8;
        height:600px;
        top:2300px;
    }

    #b100-contact-blue2{
        background-color:#3e84da;
        height:900px;
        top:220px;
    }

    #b100-work-gray{
        background-color:#ece6d8;
        height:220px;
        top:3247px;
    }
}